@font-face { font-family: Delicious; src: url('../../static/res/delicious-123/Delicious-Roman.otf'); }
@font-face { font-family: Delicious; font-weight: bold; src: url('../../static/res/delicious-123/Delicious-Bold.otf'); }
/*http://scottpdawson.com/three-methods-for-creating-beveled-corners-css-css3-or-jquery/*/