

.axis path,
.axis line {
    fill: none;
    stroke: #707073;
    shape-rendering: crispEdges;
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    border: 1px #707073;
    background: rgba(0, 0, 0, 0.8);
    color: #E0E0E3;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

.axis text {
    font-family: Delicious;
    /*font-family: sans-serif;*/
    fill: #E0E0E3;
    font-size: 12px;
}

body {
    font-family: Delicious;
    font-weight: bold;
    margin:0;     /* This is used to reset any browser-default margins */
    display: block;

}

.dataLoadWrapper {
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    width: 90vw;
    background: lightgoldenrodyellow;
}

.algorithmWrapper {
    display: block;
    font-family: Delicious;

}
.loadWidgetsWrapper, .algorithmViewport, .titleBar {
    /*background: grey;*/
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    width: 90vw;
}

div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;   /* Gets overriden by D3-assigned height below */
    margin-right: 2px;
    background-color: blue;
}

.plotViewportWrapper {
    margin: 15px;
    width:30%;
    display: block;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}
.plotViewport {
    border: 3px dashed #ccc;
}
.plotViewport, .slidersWrapper, .plotViewportTitle {
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    width:200px; /*Sort of: expanded by svg*/
    margin:auto;
    text-align: center;
}
.plotViewport, .slidersWrapper {
    height:200px;
}
.runAlgoButton {
    border: 3px #ccc;
    background-color: #999999;
    color: #333333;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin:5px;
}
.runAlgoButton:hover {
    color: white;
    background-color: #333333;
}
.sliderViewport {
    border: 3px dashed #ccc;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    margin:5px;
}
.sliderViewport:hover, .plotViewport:hover {
    border: 3px dashed #00ffff;
    /*color: #F0F;*/
}

/* loader demo */
#featuresLoader, #labelsLoader { border: 10px dashed #ccc; width: 300px; height: 300px; margin: 20px auto;}
#featuresLoader.hover, #labelsLoader.hover { border: 10px dashed #333; }

